Source: ketones
Section: devel
Priority: optional
Maintainer: Jackie Liu <liuyun01@kylinos.cn>
Build-Depends: debhelper (>=11~), clang (>= 10), libcap-dev, llvm-dev, binutils-dev, libnuma-dev
Standards-Version: 4.1.4
Homepage: https://gitee.com/openkylin/ketones/blob/master/README.md
Vcs-Git: https://gitee.com/openkylin/ketones.git

Package: ketones
Architecture: amd64 arm64 loongarch64
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Our software is a powerful eBPF program assembly designed to help
 users run programs in various environments. It aims to replace the BCC toolset
 and provides additional tools for observing the kernel. With a small footprint,
 easy integration, and compatibility with different kernels, our software is
 versatile and efficient. It supports running in container environments without
 the need for installing a compilation environment.
