#!/usr/bin/make -f

export SOURCE=src

build:
	$(MAKE) -C $(SOURCE) USE_BLAZESYM=0 -j$(shell nproc)

install:
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs
	dh_auto_install

binary: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_strip
	dh_compress
	dh_installdeb
	dh_installdebconf
	$(lockme) dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	dh_testdir
	dh_testroot

	$(MAKE) -C $(SOURCE) clean
	dh_clean
